.mainnav {
  --nav-list-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  background-color: var(--color-blue-000);
  border-bottom: 2px solid var(--color-border);
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  padding: 16px 32px 20px;
  z-index: 1;
}

.mainnav ul {
  background: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 auto;
  max-width: var(--max-width);
  width: 100%;
  position: relative;
}

.mainnav a {
  /* configuration */
  --nav-item-background: transparent;
  --nav-item-text-color: var(--color-text-accent-dark);
  --nav-item-decoration-color: transparent;

  background: var(--nav-item-background);
  color: var(--nav-item-text-color);
  display: block;
  font-family: var(--font-display);
  font-size: 19px;
  font-weight: var(--font-semibold);
  line-height: 140%;
  letter-spacing: 0;
  text-transform: uppercase;
  text-decoration-line: underline;
  text-decoration-color:  var(--nav-item-decoration-color);
  text-decoration-thickness: 8px;
  text-underline-offset: 10px;
  transition: text-decoration 200ms;
}

.mainnav a:where(:hover, :focus) {
  --nav-item-background: transparent;
  --nav-item-text-color: var(--color-text-accent-dark);
  --nav-item-decoration-color: var(--color-text-accent);
}

.mainnav [aria-current='page'],
.mainnav [data-state='active'] {
  --nav-item-background: transparent;
  --nav-item-text-color: var(--color-text-accent);
  --nav-item-decoration-color: var(--color-text-accent);
}

@media screen and (navigation) {
  .mainnav [aria-current='page'],
  .mainnav [data-state='active'] {
    --nav-item-background: transparent;
    --nav-item-text-color: var(--color-text-accent-dark);
    --nav-item-decoration-color: var(--color-text-accent);
  }
}

@media screen and (min-width: 1200px) {
  .mainnav {
    padding: 16px 0 24px;
  }
}