---
title: 'Kelby Gassman Portfolio'
permalink: /index.html
description: 'Kelby Gassman&apos;s portfolio site. Designer with over 12 years of experience, focusing on design systems.'
layout: base
---

{% css "local" %}
  {% include "css/index.css" %}
{% endcss %}
<div class="wrapper">
  <header class="full | section index">
    <div class="section__inner flow region">
      <div class="section-hero-card">
      <div class="hero-card primary">
        <h2 class="superTitle">Kelby Gassman</h2>
        <h1 class="title">Home</h1>
        <p>A creative designer with over 12 years of experience. I'm currently building the Fortnite design system at Epic Games.</p>
        <img src="/assets/images/portfolio/amazon/amazon-gotham.jpg" alt="Amazon, Gotham design system" width="432" height="216" loading="eager" />
        <img src="/assets/images/portfolio/homeDepot/the-home-depot.jpg" alt="The Home Depot design system" width="432" height="216" loading="eager" />
      </div>
      <div class="hero-card secondary">
        <div class="blurb-container">
          <h3 class="description-title">Fortnite</h3>
          <p class="description">
            Project: Design System<br />
            Role: Senior UX Designer<br />
            Date: Ongoing
          </p>
        </div>
      </div>
    </div>
  </header>

  <article class="full | region">
    <div class="wrapper flow prose">
      <h2 id="an-eleventy-starter">An Eleventy starter</h2>
      <p>
        Built around a CSS workflow that emphasizes guiding browser styling rather than micromanaging it. It
        incorporates progressive enhancement, fluid type and spacing, and utilizes modern CSS features for
        layout. The goal is to develop frontends that provide a great experience across all devices,
        connection speeds, and usage contexts.
      </p>
      <p><strong>Have fun</strong> and let me know if you find any issues or have ideas for improvements!</p>
    </div>
  </article>

  <section class="full | region">
    <div class="wrapper flow prose">
      <h2>{{ blog.title }}</h2>
      {% if blog.intro %}
        <p>{{ blog.intro }}</p>
      {% endif %}
      <div class="feature |  region region-space-l">
        <custom-masonry layout="50-50">
          {% set itemList = collections.allPosts %}
					{% asyncEach item in itemList.slice(0, 4) %}
            {% set headingLevel = "h3" %}
						{% include "partials/card-blog.njk" %}
					{% endeach %}
        </custom-masonry>
      </div>
    </div>
  </section>
</div>
